Repository alcionai/corso, pull requests merged in 2024-02, with the labels that each got.

#5176 fixes failing nightly tests due to PR#5060 changes
  src/cli/repo/filesystem_e2e_test.go
  src/cli/repo/s3_e2e_test.go
Labels: mergequeue

#5183 skip chats e2e tests
  src/cli/backup/teamschats_e2e_test.go
Labels: mergequeue, tests

#5170 Split tombstone handling for groups services
  src/internal/m365/collection/groups/backup.go
  src/internal/m365/collection/groups/backup_test.go
  src/internal/m365/collection/groups/channel_handler.go
  src/internal/m365/collection/groups/conversation_handler.go
  src/internal/m365/collection/groups/conversation_handler_test.go
  src/internal/m365/collection/groups/handlers.go
Labels: mergequeue, backup, teams & groups

#5154 Handle previous paths for group mailbox
  src/internal/m365/collection/groups/backup_test.go
  src/internal/m365/collection/groups/metadata.go
  src/internal/m365/collection/groups/testdata/conversations.go
Labels: bug, mergequeue, backup, teams & groups

#5188 adds sharepoint lists changelog
  CHANGELOG.md
Labels: documentation, mergequeue

#5189 Add v0.19.0 changelog
  CHANGELOG.md
Labels: documentation, mergequeue

#5190 Skip emails with incorrect email when export ics file
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: mergequeue

#5184 add by-resp-code catcher to err transformer
  src/pkg/errs/core/core.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
Labels: mergequeue, supportability, graph api

#5162 final its additions
  src/internal/m365/backup_test.go
  src/internal/tester/its/m365.go
  src/internal/tester/its/m365_test.go
Labels: tests, tech-debt

#5161 more its implementation
  src/internal/m365/backup_test.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/item_collector_test.go
  src/internal/m365/collection/drive/item_test.go
  src/internal/m365/collection/drive/url_cache_test.go
  src/internal/m365/collection/exchange/backup_test.go
  src/internal/m365/collection/exchange/contacts_restore_test.go
  src/internal/m365/collection/exchange/container_resolver_test.go
  src/internal/m365/collection/exchange/events_restore_test.go
  src/internal/m365/collection/exchange/helper_test.go
  src/internal/m365/collection/exchange/mail_container_cache_test.go
  src/internal/m365/collection/exchange/mail_restore_test.go
  src/internal/m365/collection/exchange/restore_test.go
  src/internal/m365/collection/groups/backup_test.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/restore_test.go
  src/internal/m365/collection/teamsChats/backup_test.go
  src/internal/m365/controller_test.go
  src/internal/tester/its/m365.go
  src/internal/tester/its/m365_test.go
Labels: tests, tech-debt

#5191 Skip exchange items which fail to download due to ErrorCorruptData error
  CHANGELOG.md
  src/internal/m365/collection/exchange/collection.go
  src/internal/m365/collection/exchange/collection_test.go
  src/pkg/fault/skipped.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
Labels: bug, mergequeue-priority, backup, exchange

#5181 Handle itemAttachments for emails
  CHANGELOG.md
  src/internal/converters/eml/eml.go
  src/internal/converters/eml/eml_test.go
  src/internal/converters/eml/testdata/email-within-email.json
  src/internal/converters/eml/testdata/testdata.go
Labels: mergequeue

#5140 introduce intg and unit test setup packages
  src/cli/backup/exchange_e2e_test.go
  src/cli/backup/groups_e2e_test.go
  src/cli/backup/helpers_test.go
  src/cli/backup/sharepoint_e2e_test.go
  src/cli/backup/teamschats_e2e_test.go
  src/internal/m365/backup.go
  src/internal/m365/backup_test.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/item_collector_test.go
  src/internal/m365/collection/drive/item_test.go
  src/internal/m365/collection/drive/url_cache_test.go
  src/internal/m365/collection/exchange/backup_test.go
  src/internal/m365/collection/exchange/contacts_restore_test.go
  src/internal/m365/collection/exchange/container_resolver_test.go
  src/internal/m365/collection/exchange/events_restore_test.go
  src/internal/m365/collection/exchange/helper_test.go
  src/internal/m365/collection/exchange/mail_container_cache_test.go
  src/internal/m365/collection/exchange/mail_restore_test.go
  src/internal/m365/collection/exchange/restore_test.go
  src/internal/m365/collection/groups/backup_test.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/restore_test.go
  src/internal/m365/collection/teamschats/backup_test.go
  src/internal/m365/controller_test.go
  src/internal/m365/onedrive_test.go
  src/internal/m365/service/groups/restore_test.go
  src/internal/operations/backup_test.go
  src/internal/operations/test/m365/driveish.go
  src/internal/operations/test/m365/exchange/exchange_test.go
  src/internal/operations/test/m365/groups/groups_test.go
  src/internal/operations/test/m365/helper.go
  src/internal/operations/test/m365/onedrive/onedrive_test.go
  src/internal/operations/test/m365/sharepoint/sharepoint_test.go
  src/internal/tester/its/m365.go
  src/internal/tester/its/m365_test.go
  src/internal/tester/its/resourceService.go
  src/internal/tester/tconfig/account.go
  src/pkg/config/config_test.go
  src/pkg/services/m365/api/events.go
  src/pkg/services/m365/api/events_test.go
  src/pkg/services/m365/groups_test.go
  src/pkg/services/m365/m365_test.go
  src/pkg/services/m365/sites_test.go
  src/pkg/services/m365/users_test.go
Labels: mergequeue, tests, tech-debt

#5196 Add a unit test to check event pager page size fallback
  src/pkg/services/m365/api/events_pager_test.go
Labels: tests, exchange, graph api

#5192 Remove deleted flag from test command
  .github/workflows/longevity_test.yml
Labels: mergequeue

#5199 allow eml export when attachments have no name
  CHANGELOG.md
  src/internal/converters/eml/eml.go
  src/internal/converters/eml/eml_test.go
  src/internal/converters/eml/testdata/email-with-attachments.json
Labels: bug, mergequeue, exchange, export

#5201 Add a fallback to non-delta pager during event item enumeration
  src/pkg/services/m365/api/events_pager.go
  src/pkg/services/m365/api/events_pager_test.go
Labels: bug, mergequeue, backup, exchange

#5203 Retry more errors in graph adapter wrapper
  src/pkg/services/m365/api/events_pager_test.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/service_test.go
  src/pkg/services/m365/api/helper_test.go
Labels: mergequeue-priority, tests, graph api

#5205 Fix possible panic in contacts fetch
  src/pkg/services/m365/api/contacts.go
Labels: mergequeue

#5206 Use recurrence timezone for ics exports
  CHANGELOG.md
  src/internal/converters/eml/eml_test.go
  src/internal/converters/ics/consts.go
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
  src/internal/converters/ics/tzdata/data.go
  src/internal/converters/ics/tzdata/fetch.sh
Labels: mergequeue

#5207 Do not backup shared calendars
  src/internal/m365/collection/exchange/container_resolver_test.go
  src/internal/m365/collection/exchange/events_container_cache.go
Labels: mergequeue-priority

#5209 Handle item attachments with missing name
  src/internal/converters/eml/eml.go
  src/internal/converters/eml/eml_test.go
  src/internal/converters/eml/testdata/email-within-email.json
Labels: mergequeue-priority, mergequeue, export

#5214 Fix contains check for exchange nightly tests
  src/cli/backup/exchange_e2e_test.go
Labels: bug, mergequeue, tests

#5215 better fulfillment of request middleware logging
  src/pkg/services/m365/api/graph/concurrency_middleware.go
  src/pkg/services/m365/api/graph/logging.go
  src/pkg/services/m365/api/graph/middleware.go
Labels: tech-debt, graph api

#5204 add an authRequried flag for requester requests
  src/internal/m365/collection/drive/collection.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/item.go
  src/internal/m365/collection/drive/item_test.go
  src/internal/m365/collection/drive/site_handler.go
  src/internal/m365/collection/drive/url_cache_test.go
  src/internal/m365/collection/drive/user_drive_handler.go
  src/internal/m365/service/onedrive/mock/handlers.go
  src/pkg/services/m365/api/access.go
  src/pkg/services/m365/api/client.go
  src/pkg/services/m365/api/graph/concurrency_middleware.go
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/http_wrapper_test.go
  src/pkg/services/m365/api/graph/logging.go
  src/pkg/services/m365/api/graph/middleware.go
  src/pkg/services/m365/api/graph/uploadsession.go
Labels: graph api

#5200 use contentt endopint for files larger than 50gb
  src/internal/common/str/str.go
  src/internal/common/str/str_test.go
  src/internal/m365/collection/drive/collection.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/item.go
  src/internal/m365/collection/drive/item_test.go
  src/internal/m365/collection/drive/site_handler.go
  src/internal/m365/collection/drive/url_cache_test.go
  src/internal/m365/collection/drive/user_drive_handler.go
  src/internal/m365/service/onedrive/mock/handlers.go
  src/pkg/services/m365/api/access.go
  src/pkg/services/m365/api/client.go
  src/pkg/services/m365/api/graph/concurrency_middleware.go
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/http_wrapper_test.go
  src/pkg/services/m365/api/graph/logging.go
  src/pkg/services/m365/api/graph/middleware.go
  src/pkg/services/m365/api/graph/uploadsession.go
Labels: bug, onedrive, graph api

#5217 Check for and retry 404s with no content
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/service_test.go
Labels: bug, mergequeue, backup, graph api

#5221 sanitizes replyTo emailAddresses
  src/internal/m365/collection/exchange/mail_restore.go
  src/internal/m365/collection/exchange/mail_restore_test.go
Labels: bug, mergequeue, exchange

#5222 Don't alert on old compressor
  src/internal/kopia/conn.go
  src/internal/kopia/conn_test.go
Labels: bug, mergequeue, maintenance

#5198 add authentication to requester
  src/internal/common/str/str.go
  src/internal/common/str/str_test.go
  src/internal/m365/collection/drive/collection.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/item.go
  src/internal/m365/collection/drive/item_test.go
  src/internal/m365/collection/drive/site_handler.go
  src/internal/m365/collection/drive/url_cache_test.go
  src/internal/m365/collection/drive/user_drive_handler.go
  src/internal/m365/service/onedrive/mock/handlers.go
  src/pkg/services/m365/api/access.go
  src/pkg/services/m365/api/client.go
  src/pkg/services/m365/api/graph/auth.go
  src/pkg/services/m365/api/graph/concurrency_middleware.go
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/http_wrapper_test.go
  src/pkg/services/m365/api/graph/logging.go
  src/pkg/services/m365/api/graph/middleware.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/uploadsession.go
Labels: enhancement, mergequeue, graph api

#5228 only pass in map to skip checker
  src/internal/m365/collection/exchange/contacts_backup_test.go
  src/internal/m365/collection/exchange/events_backup.go
  src/internal/m365/collection/exchange/mail_backup_test.go
Labels: exchange

#5226 isolate the actual error from this query
  src/internal/m365/collection/exchange/collection_test.go
  src/internal/m365/collection/exchange/contacts_backup_test.go
  src/internal/m365/collection/exchange/events_backup.go
  src/internal/m365/collection/exchange/events_backup_test.go
  src/internal/m365/collection/exchange/mail_backup_test.go
  src/pkg/services/m365/api/graph/errors.go
Labels: exchange

#5225 allow skipping error cases in exchange backup
  src/internal/m365/collection/exchange/backup.go
  src/internal/m365/collection/exchange/collection.go
  src/internal/m365/collection/exchange/collection_test.go
  src/internal/m365/collection/exchange/contacts_backup_test.go
  src/internal/m365/collection/exchange/events_backup.go
  src/internal/m365/collection/exchange/events_backup_test.go
  src/internal/m365/collection/exchange/mail_backup_test.go
  src/internal/m365/collection/exchange/mock/item.go
  src/pkg/services/m365/api/graph/errors.go
Labels: exchange

#5223 add new control opt for skipping event 503s
  src/internal/m365/collection/exchange/backup.go
  src/internal/m365/collection/exchange/backup_test.go
  src/internal/m365/collection/exchange/collection.go
  src/internal/m365/collection/exchange/collection_test.go
  src/internal/m365/collection/exchange/contacts_backup.go
  src/internal/m365/collection/exchange/contacts_backup_test.go
  src/internal/m365/collection/exchange/events_backup.go
  src/internal/m365/collection/exchange/events_backup_test.go
  src/internal/m365/collection/exchange/handlers.go
  src/internal/m365/collection/exchange/mail_backup.go
  src/internal/m365/collection/exchange/mail_backup_test.go
  src/internal/m365/collection/exchange/mock/item.go
  src/internal/operations/backup_test.go
  src/pkg/control/options.go
  src/pkg/fault/skipped.go
  src/pkg/services/m365/api/graph/errors.go
Labels: mergequeue-priority, exchange

#5229 Log if the context expired during retry
  src/pkg/services/m365/api/graph/middleware.go
Labels: mergequeue, graph api

#5227 Log every 1000 items when exporting
  src/internal/archive/zip.go
  src/pkg/export/consume.go
Labels: mergequeue

#5233 apply missing opts to api client
  src/pkg/services/m365/m365.go
Labels: bug, mergequeue, graph api

#5130 add missing chat filters
  src/pkg/selectors/teamsChats.go
  src/pkg/selectors/teamsChats_test.go
Labels: backup, export, chats

#5119 add chat members to the backup
  src/internal/m365/collection/teamschats/chat_handler.go
  src/pkg/backup/details/entry.go
  src/pkg/selectors/teamsChats.go
  src/pkg/selectors/teamsChats_test.go
  src/pkg/services/m365/api/teamsChats_pager.go
  src/pkg/services/m365/api/teamsChats_pager_test.go
Labels: backup, chats

#5116 get details working (and other cleanup)
  src/cli/backup/teamschats.go
  src/cli/utils/teamschats.go
  src/internal/m365/collection/teamschats/backup.go
  src/internal/m365/collection/teamschats/backup_test.go
  src/internal/m365/collection/teamschats/chat_handler.go
  src/internal/m365/collection/teamschats/collection.go
  src/internal/m365/collection/teamschats/collection_test.go
  src/internal/m365/collection/teamschats/handlers.go
  src/pkg/backup/details/entry.go
  src/pkg/backup/details/iteminfo.go
  src/pkg/backup/details/teamsChats.go
  src/pkg/backup/details/teamsChats_test.go
  src/pkg/selectors/teamsChats.go
  src/pkg/selectors/teamsChats_test.go
  src/pkg/services/m365/api/teamsChats.go
  src/pkg/services/m365/api/teamsChats_pager.go
  src/pkg/services/m365/api/teamsChats_pager_test.go
  src/pkg/services/m365/api/teamsChats_test.go
Labels: bug, backup, chats

#5133 centralize basic backup test, add teamschats
  src/internal/operations/test/m365/backup_helper.go
  src/internal/operations/test/m365/exchange/exchange_test.go
  src/internal/operations/test/m365/groups/groups_test.go
  src/internal/operations/test/m365/teamschats/teamschats_test.go
Labels: backup, tests, chats

#5127 add teamschats restore shim for export support
  src/internal/m365/service/teamschats/restore.go
  src/internal/m365/service/teamschats/restore_test.go
  src/internal/operations/pathtransformer/restore_path_transformer.go
  src/internal/operations/pathtransformer/restore_path_transformer_test.go
Labels: export, chats

#5126 add export support to teamschats service layer
  src/cli/backup/teamschats.go
  src/cli/export/export.go
  src/cli/export/teamschats.go
  src/cli/export/teamschats_test.go
  src/internal/m365/export.go
  src/internal/m365/service/groups/export_test.go
  src/internal/m365/service/teamschats/export.go
  src/internal/m365/service/teamschats/export_test.go
  src/internal/m365/service/teamschats/restore.go
  src/internal/m365/service/teamschats/restore_test.go
  src/internal/operations/pathtransformer/restore_path_transformer.go
  src/internal/operations/pathtransformer/restore_path_transformer_test.go
  src/internal/operations/test/m365/backup_helper.go
  src/internal/operations/test/m365/exchange/exchange_test.go
  src/internal/operations/test/m365/groups/groups_test.go
  src/internal/operations/test/m365/teamschats/teamschats_test.go
  src/pkg/backup/details/testdata/testdata.go
Labels: export, chats

#5234 Close body of file after writing to zip file in export
  src/internal/archive/zip.go
Labels: mergequeue

#5239 Log token lifetimes on 401 errors
  src/internal/common/jwt/jwt.go
  src/internal/common/jwt/jwt_test.go
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/logging.go
  src/pkg/services/m365/api/graph/middleware.go
  src/pkg/services/m365/api/graph/middleware_test.go
Labels: mergequeue, exchange, graph api

#5238 Tweak website
  website/docusaurus.config.js
  website/src/components/parts/CTA.js
  website/src/components/parts/Hero.js
  website/src/components/parts/KeyLoveFAQ.js
  website/static/img/corso_horizontal_logo.svg
  website/static/img/corso_horizontal_logo_white.svg
Labels: mergequeue

#5240 Normalize case when checking for user email
  src/cli/backup/exchange_e2e_test.go
Labels: bug, mergequeue, tests

#5237 harden sanitree population
  src/cmd/sanity_test/driveish/driveish.go
  src/cmd/sanity_test/driveish/export.go
  src/cmd/sanity_test/driveish/restore.go
Labels: mergequeue, tests, ci

#5244 Fix ics high memory usage by disabling auto wrap text in html2text
  CHANGELOG.md
  src/internal/converters/ics/ics.go
Labels: mergequeue

#5139 chat handler cleanup
  src/internal/m365/collection/teamsChats/backup.go
  src/internal/m365/collection/teamsChats/backup_test.go
  src/internal/m365/collection/teamsChats/chat_handler.go
  src/internal/m365/collection/teamsChats/collection.go
  src/internal/m365/collection/teamsChats/collection_test.go
  src/internal/m365/collection/teamsChats/handlers.go
  src/internal/m365/service/teamschats/backup.go
Labels: tech-debt, chats
