Repository alcionai/corso, pull requests merged in 2024-01, with the labels that each got.

#4960 disable backup of sharepoint lists
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
Labels: mergequeue, sharepoint, lists

#4961 Add v0.18.0 changelog
  CHANGELOG.md
Labels: documentation, mergequeue

#4883 Contacts export for exchange
  CHANGELOG.md
  src/cmd/converter/converter.go
  src/go.mod
  src/go.sum
  src/internal/converters/vcf/testdata/contacts-input.json
  src/internal/converters/vcf/testdata/contacts-output.eml
  src/internal/converters/vcf/testdata/testdata.go
  src/internal/converters/vcf/vcf.go
  src/internal/converters/vcf/vcf_test.go
  src/internal/m365/collection/exchange/export.go
  src/internal/m365/service/exchange/export.go
Labels: enhancement, mergequeue, exchange, export

#4957 ignores accessRequest list templates from backup and restore
  src/internal/m365/collection/site/restore_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#4936 fix tests referencing top level of sharepointInfo for listInfo
  src/cli/backup/sharepoint_e2e_test.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/restore_test.go
Labels: mergequeue, sharepoint, lists

#4958 Events export as ICS
  src/cmd/converter/converter.go
  src/go.mod
  src/go.sum
  src/internal/converters/ics/consts.go
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
  src/internal/m365/collection/exchange/export.go
  src/pkg/dttm/dttm.go
Labels: mergequeue

#4964 Ensure that we propagate errors if available
  .github/workflows/ci.yml
  src/internal/kopia/upload.go
  src/internal/m365/collection/drive/permission.go
  src/internal/m365/collection/exchange/metadata.go
  src/internal/m365/collection/groups/metadata.go
  src/internal/operations/backup.go
Labels: mergequeue

#4963 skip cli level tests for sharepoint lists to fix nightly tests
  src/cli/backup/sharepoint_e2e_test.go
Labels: mergequeue, sharepoint, lists

#4897 introduce errs/core
  src/cli/backup/backup.go
  src/internal/m365/backup.go
  src/internal/m365/controller.go
  src/internal/m365/service/onedrive/enabled.go
  src/internal/operations/backup.go
  src/internal/operations/restore.go
  src/pkg/errs/core/core.go
  src/pkg/errs/core/core_test.go
  src/pkg/errs/errs.go
  src/pkg/errs/errs_test.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
  src/pkg/services/m365/sites.go
  src/pkg/services/m365/sites_test.go
Labels: mergequeue, supportability

#4915 bump clues to latest version
  src/go.mod
  src/go.sum
Labels: mergequeue, supportability

#4830 Add more tests for email attachment downloads
  src/pkg/services/m365/api/mail_test.go
Labels: mergequeue, tests

#4914 improve CtxErr handling
  src/pkg/logger/logger.go
Labels: mergequeue, supportability

#4951 refactors code and tests site populatecollection
  src/internal/m365/collection/site/backup.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/mock/list.go
  src/pkg/count/keys.go
Labels: backup, sharepoint, lists

#4950 adds deleted state lists to collection
  src/internal/m365/collection/site/backup.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/lists_metadata.go
  src/internal/m365/collection/site/mock/list.go
  src/pkg/count/keys.go
Labels: backup, sharepoint, lists

#4947 parses metadata collections using previous paths
  src/internal/m365/collection/site/backup.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/lists_metadata.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/service/sharepoint/backup.go
  src/pkg/count/keys.go
Labels: backup, sharepoint, lists

#4946 fetches previouspath filepaths for sharepoint lists
  src/internal/m365/backup.go
  src/internal/m365/collection/site/backup.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/lists_metadata.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/service/sharepoint/backup.go
  src/internal/operations/manifests_test.go
  src/pkg/count/keys.go
Labels: backup, sharepoint, lists

#4938 store lists previouspath
  src/internal/m365/backup.go
  src/internal/m365/backup_test.go
  src/internal/m365/collection/site/backup.go
  src/internal/m365/collection/site/backup_test.go
  src/internal/m365/collection/site/collection.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/lists_metadata.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/service/sharepoint/backup.go
  src/internal/operations/manifests_test.go
  src/pkg/count/keys.go
Labels: mergequeue, sharepoint, lists

#4965 hide failed-items flag
  src/cli/backup/backup.go
  src/cli/flags/backup_list.go
  src/cli/flags/options.go
  src/cli/flags/testdata/backup_list.go
  src/go.mod
Labels: mergequeue, cli, tech-debt

#4959 exports sharepoint lists
  src/internal/m365/collection/site/export.go
  src/internal/m365/collection/site/export_test.go
  src/internal/m365/service/sharepoint/export.go
  src/internal/m365/service/sharepoint/export_test.go
Labels: mergequeue, sharepoint, export, lists

#4954 Update handling of permissions restore failures
  src/internal/m365/collection/drive/permission.go
  src/internal/m365/collection/drive/permission_test.go
  src/internal/m365/collection/drive/restore.go
Labels: mergequeue

#4986 Upgrade Docusaurus to 3.1.0
  website/package-lock.json
  website/package.json
Labels: mergequeue

#4968 Return proper error when backups are empty for details command
  CHANGELOG.md
  src/cli/backup/backup.go
  src/cli/backup/backup_test.go
Labels: mergequeue

#4969 sets list item fields based on columns created
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#4955 Filter out non existent entities in permissions and link shares
  src/internal/m365/collection/drive/permission.go
  src/internal/m365/collection/drive/permission_test.go
  src/internal/m365/collection/drive/restore_caches.go
  src/internal/m365/collection/drive/restore_test.go
  src/internal/m365/collection/site/restore.go
  src/internal/m365/service/groups/restore.go
  src/internal/m365/service/onedrive/restore.go
  src/internal/m365/service/sharepoint/restore.go
  src/pkg/services/m365/api/groups.go
Labels: mergequeue

#4967 Drop GroupsMap in favor of api.GetAllIDsAndNames
  src/cli/backup/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/groups.go
  src/pkg/services/m365/groups_test.go
  src/pkg/services/m365/m365.go
  src/pkg/services/m365/sites.go
  src/pkg/services/m365/users.go
Labels: mergequeue

#4988 Extra logging and clues context for folder caches
  src/internal/m365/collection/exchange/contacts_container_cache.go
  src/internal/m365/collection/exchange/events_container_cache.go
  src/internal/m365/collection/exchange/mail_container_cache.go
Labels: mergequeue, supportability, exchange

#4899 swap pkg/metrics to threadsafe map
  src/internal/common/syncd/map.go
  src/internal/m365/service/exchange/export_test.go
  src/internal/m365/service/groups/export_test.go
  src/internal/m365/service/onedrive/export_test.go
  src/internal/m365/service/sharepoint/export_test.go
  src/pkg/metrics/metrics.go
Labels: bug, mergequeue, tech-debt

#4990 fix nightly user not found tests
  src/cli/backup/exchange_e2e_test.go
  src/cli/backup/groups_e2e_test.go
  src/cli/backup/onedrive_e2e_test.go
Labels: bug, mergequeue, tests

#4989 Fixup a few calls for adding clues to errors
  src/internal/m365/collection/exchange/container_resolver.go
Labels: mergequeue, tech-debt, exchange

#4993 Add retries for transient graph 400 "invalidRequest" errors
  CHANGELOG.md
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/service_test.go
  src/pkg/services/m365/api/graph/testdata/errors.go
Labels: mergequeue, backup, onedrive, sharepoint, graph api

#4992 Download attachments for group mailbox posts
  CHANGELOG.md
  src/pkg/services/m365/api/conversations.go
  src/pkg/services/m365/api/conversations_test.go
  website/docs/support/known-issues.md
Labels: bug, mergequeue, backup, teams & groups

#4972 centralize core err interpretation
  src/cli/backup/helpers_test.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/internal/m365/service/onedrive/enabled.go
  src/internal/operations/test/m365/helper.go
  src/pkg/errs/errs.go
  src/pkg/errs/errs_test.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/http_wrapper_test.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/service_mock.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/helper_test.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
Labels: mergequeue, supportability, graph api

#5007 Pull in latest kiota json version
  src/go.mod
  src/go.sum
Labels: mergequeue, graph api

#5002 Reduce graph adapter & http wrapper test runtime
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/http_wrapper_test.go
  src/pkg/services/m365/api/graph/service_test.go
Labels: mergequeue, tech-debt

#5008 refactors post list to accept deseriallized stored list
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/restore.go
  src/internal/m365/collection/site/restore_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#5017 remove resourcenotfound error in place of notfound
  src/internal/m365/backup.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/pkg/errs/core/core.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
Labels: tech-debt

#4979 minor cleanup in graph errs to wrap up
  src/internal/m365/backup.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/pkg/errs/core/core.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
Labels: tech-debt, graph api

#4978 move the last graph sentinels to errs/core
  src/internal/m365/backup.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/pkg/errs/core/core.go
  src/pkg/errs/errs.go
  src/pkg/errs/errs_test.go
  src/pkg/services/m365/api/contacts.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/mail.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
Labels: tech-debt, graph api

#4977 move conflictAlreadyExists to core errs
  src/internal/m365/backup.go
  src/internal/m365/collection/drive/restore.go
  src/internal/m365/collection/drive/restore_test.go
  src/internal/m365/collection/exchange/contacts_restore.go
  src/internal/m365/collection/exchange/contacts_restore_test.go
  src/internal/m365/collection/exchange/events_restore.go
  src/internal/m365/collection/exchange/events_restore_test.go
  src/internal/m365/collection/exchange/mail_restore.go
  src/internal/m365/collection/exchange/mail_restore_test.go
  src/internal/m365/collection/exchange/restore.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/pkg/errs/core/core.go
  src/pkg/errs/errs.go
  src/pkg/errs/errs_test.go
  src/pkg/services/m365/api/contacts.go
  src/pkg/services/m365/api/drive.go
  src/pkg/services/m365/api/drive_test.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
  src/pkg/services/m365/api/mail.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
Labels: tech-debt, graph api

#4976 move badJwt graph err to core
  src/internal/m365/backup.go
  src/internal/m365/collection/drive/restore.go
  src/internal/m365/collection/drive/restore_test.go
  src/internal/m365/collection/exchange/contacts_restore.go
  src/internal/m365/collection/exchange/contacts_restore_test.go
  src/internal/m365/collection/exchange/events_restore.go
  src/internal/m365/collection/exchange/events_restore_test.go
  src/internal/m365/collection/exchange/mail_restore.go
  src/internal/m365/collection/exchange/mail_restore_test.go
  src/internal/m365/collection/exchange/restore.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/pkg/errs/core/core.go
  src/pkg/errs/errs.go
  src/pkg/errs/errs_test.go
  src/pkg/services/m365/api/contacts.go
  src/pkg/services/m365/api/drive.go
  src/pkg/services/m365/api/drive_test.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/service_test.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
  src/pkg/services/m365/api/mail.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
Labels: tech-debt, graph api

#5006 normalize observe usage, ensure deferred closers
  src/cli/export/export.go
  src/internal/m365/collection/drive/collection.go
  src/internal/m365/collection/drive/restore.go
  src/internal/m365/collection/exchange/backup.go
  src/internal/m365/collection/exchange/collection.go
  src/internal/m365/collection/exchange/restore.go
  src/internal/m365/collection/groups/collection.go
  src/internal/m365/collection/site/backup.go
  src/internal/m365/collection/site/collection.go
  src/internal/m365/service/groups/backup.go
  src/internal/m365/service/onedrive/backup.go
  src/internal/observe/observe.go
  src/internal/observe/observe_test.go
  src/internal/operations/backup.go
  src/internal/operations/export.go
  src/internal/operations/restore.go
  src/pkg/export/consume.go
  src/pkg/repository/data_providers.go
  src/pkg/repository/repository.go
Labels: mergequeue, cli, supportability

#4975 make a `not found` core error
  src/internal/m365/backup.go
  src/internal/m365/collection/drive/collection.go
  src/internal/m365/collection/drive/collection_test.go
  src/internal/m365/collection/drive/restore.go
  src/internal/m365/collection/drive/restore_test.go
  src/internal/m365/collection/exchange/backup.go
  src/internal/m365/collection/exchange/backup_test.go
  src/internal/m365/collection/exchange/collection.go
  src/internal/m365/collection/exchange/collection_test.go
  src/internal/m365/collection/exchange/contacts_restore.go
  src/internal/m365/collection/exchange/contacts_restore_test.go
  src/internal/m365/collection/exchange/container_resolver.go
  src/internal/m365/collection/exchange/container_resolver_test.go
  src/internal/m365/collection/exchange/events_restore.go
  src/internal/m365/collection/exchange/events_restore_test.go
  src/internal/m365/collection/exchange/mail_restore.go
  src/internal/m365/collection/exchange/mail_restore_test.go
  src/internal/m365/collection/exchange/restore.go
  src/internal/m365/collection/groups/backup_test.go
  src/internal/m365/collection/groups/collection.go
  src/internal/m365/collection/groups/collection_test.go
  src/internal/m365/collection/site/collection.go
  src/internal/m365/collection/site/collection_test.go
  src/internal/m365/controller.go
  src/internal/m365/service/exchange/enabled_test.go
  src/pkg/errs/core/core.go
  src/pkg/errs/errs.go
  src/pkg/errs/errs_test.go
  src/pkg/services/m365/api/contacts.go
  src/pkg/services/m365/api/drive.go
  src/pkg/services/m365/api/drive_test.go
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/service.go
  src/pkg/services/m365/api/graph/service_test.go
  src/pkg/services/m365/api/groups.go
  src/pkg/services/m365/api/groups_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
  src/pkg/services/m365/api/mail.go
  src/pkg/services/m365/api/pagers/pagers_test.go
  src/pkg/services/m365/api/sites.go
  src/pkg/services/m365/api/sites_test.go
  src/pkg/services/m365/api/users.go
  src/pkg/services/m365/api/users_test.go
  src/pkg/services/m365/groups_test.go
  src/pkg/services/m365/users_test.go
Labels: mergequeue, tech-debt, graph api

#4996 Cancelled and modified events in ics export
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
  src/pkg/services/m365/api/events.go
Labels: mergequeue

#4997 Fix handling of recurring events with end date
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: mergequeue

#5004 Few more fixes to ics export
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: mergequeue

#4999 select list by name while export and restore
  src/cli/export/sharepoint_test.go
  src/cli/flags/sharepoint.go
  src/cli/flags/testdata/flags.go
  src/cli/restore/groups_test.go
  src/cli/restore/sharepoint_test.go
  src/cli/utils/flags.go
  src/cli/utils/groups.go
  src/cli/utils/groups_test.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
  src/pkg/selectors/sharepoint.go
  src/pkg/selectors/sharepoint_test.go
Labels: mergequeue, sharepoint, lists

#5009 get lists with collision key
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_pager.go
  src/pkg/services/m365/api/lists_pager_test.go
Labels: mergequeue, sharepoint, lists

#5014 Generate text in case of utf8 descriptions
  src/go.mod
  src/go.sum
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: mergequeue

#5020 allow groups to have no display name
  CHANGELOG.md
  src/pkg/services/m365/groups.go
  src/pkg/services/m365/groups_test.go
Labels: bug, mergequeue, graph api, teams & groups

#5015 Enable events export
  CHANGELOG.md
  src/internal/m365/service/exchange/export.go
Labels: mergequeue, exchange, export

#5025 log api call start-end times
  src/pkg/services/m365/api/graph/http_wrapper.go
  src/pkg/services/m365/api/graph/service.go
Labels: mergequeue, supportability

#5016 minor logging and cli output tweaks
  src/cli/backup/backup.go
  src/internal/kopia/merge_collection.go
  src/internal/observe/observe.go
  src/internal/operations/backup.go
  src/pkg/backup/backup.go
  src/pkg/backup/backup_test.go
  src/pkg/path/elements.go
Labels: mergequeue, cli, supportability

#5019 deduplicate sortFlags toggles
  src/cli/backup/exchange.go
  src/cli/backup/groups.go
  src/cli/backup/onedrive.go
  src/cli/backup/sharepoint.go
  src/cli/debug/exchange.go
  src/cli/debug/groups.go
  src/cli/debug/onedrive.go
  src/cli/debug/sharepoint.go
  src/cli/export/exchange.go
  src/cli/export/groups.go
  src/cli/export/onedrive.go
  src/cli/export/sharepoint.go
  src/cli/restore/exchange.go
  src/cli/restore/groups.go
  src/cli/restore/onedrive.go
  src/cli/restore/sharepoint.go
Labels: mergequeue, cli, tech-debt

#5029 Fix typo in website's developer documentation
  website/docs/developers/linters.md
Labels: documentation, mergequeue

#4970 handles location columns and fields
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#4971 handles hyperlink columns and fields
  src/pkg/services/m365/api/consts.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#5034 Fix nightly user not found tests
  src/cli/backup/exchange_e2e_test.go
  src/cli/backup/groups_e2e_test.go
  src/cli/backup/onedrive_e2e_test.go
  src/pkg/services/m365/api/users_test.go
Labels: mergequeue

#5028 remove builder.toServicePath from paths
  src/internal/m365/collection/drive/collection_test.go
  src/internal/m365/collection/drive/collections_tree_test.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/restore_test.go
  src/internal/m365/collection/drive/user_drive_handler.go
  src/internal/m365/collection/exchange/backup.go
  src/internal/m365/service/onedrive/export_test.go
  src/internal/m365/service/onedrive/mock/handlers.go
  src/internal/m365/service/sharepoint/export_test.go
  src/internal/operations/test/m365/helper.go
  src/pkg/backup/details/testdata/testdata.go
  src/pkg/path/builder.go
  src/pkg/path/builder_test.go
  src/pkg/path/path.go
  src/pkg/path/path_test.go
  src/pkg/path/resource_path_test.go
Labels: mergequeue, tech-debt

#5013 Cleanup immutable ID config passing
  src/internal/m365/collection/exchange/backup.go
  src/internal/m365/collection/exchange/backup_test.go
  src/internal/m365/collection/exchange/collection.go
  src/internal/m365/collection/exchange/collection_test.go
  src/internal/m365/collection/exchange/contacts_container_cache.go
  src/internal/m365/collection/exchange/container_resolver.go
  src/internal/m365/collection/exchange/events_container_cache.go
  src/internal/m365/collection/exchange/events_restore.go
  src/internal/m365/collection/exchange/events_restore_test.go
  src/internal/m365/collection/exchange/handlers.go
  src/internal/m365/collection/exchange/mail_container_cache.go
  src/internal/m365/collection/exchange/mock/item.go
  src/internal/m365/collection/exchange/restore_test.go
  src/internal/operations/test/m365/exchange/exchange_test.go
  src/pkg/services/m365/api/client.go
  src/pkg/services/m365/api/contacts.go
  src/pkg/services/m365/api/contacts_pager.go
  src/pkg/services/m365/api/events.go
  src/pkg/services/m365/api/events_pager.go
  src/pkg/services/m365/api/events_test.go
  src/pkg/services/m365/api/interfaces.go
  src/pkg/services/m365/api/mail.go
  src/pkg/services/m365/api/mail_pager.go
  src/pkg/services/m365/api/mail_test.go
Labels: mergequeue, supportability, tech-debt

#5052 catch basic notFound graph errors
  src/pkg/services/m365/api/graph/errors.go
  src/pkg/services/m365/api/graph/errors_test.go
  src/pkg/services/m365/api/graph/testdata/errors.go
Labels: bug, mergequeue, graph api

#5053 Fix in-place contacts restore when restore destination is empty
  CHANGELOG.md
  src/internal/m365/collection/exchange/contacts_restore.go
  src/internal/m365/collection/exchange/events_restore.go
  src/internal/m365/collection/exchange/handlers.go
  src/internal/m365/collection/exchange/mail_restore.go
  src/internal/m365/restore_test.go
  src/internal/m365/service/exchange/restore.go
  website/docs/support/known-issues.md
Labels: bug, restore, mergequeue, exchange

#5077 fix item property selection when getting drive items
  src/pkg/services/m365/api/drive.go
Labels: bug, mergequeue, onedrive, graph api

#5068 Log more clues for export operations
  src/internal/converters/eml/eml.go
  src/internal/converters/ics/ics.go
  src/internal/converters/vcf/vcf.go
  src/pkg/services/m365/api/events.go
Labels: mergequeue

#5049 Export event data for invites
  src/internal/converters/eml/eml.go
  src/internal/converters/eml/eml_test.go
  src/internal/converters/eml/testdata/email-with-event-info.json
  src/internal/converters/eml/testdata/email-with-event-object.json
  src/internal/converters/eml/testdata/testdata.go
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: mergequeue, exchange, export

#5082 ignore drive sanitree build errors outside of target folder
  src/cmd/sanity_test/driveish/driveish.go
  src/cmd/sanity_test/driveish/export.go
  src/cmd/sanity_test/driveish/restore.go
Labels: mergequeue, onedrive, tests, ci

#5078 Allow for timezone from TZ database
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: blocked, mergequeue

#5027 Augment post details with recipient information
  src/internal/m365/collection/groups/conversation_handler.go
  src/internal/m365/service/groups/backup.go
  src/pkg/backup/details/groups.go
Labels: mergequeue, backup, teams & groups

#5074 clubs lists restore tests
  src/internal/m365/collection/site/restore_test.go
Labels: sharepoint, lists

#5073 updates lists restore flow for replace collisions
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/collection/site/restore.go
  src/internal/m365/collection/site/restore_test.go
Labels: sharepoint, lists

#5047 adds list time selectors
  src/cli/backup/sharepoint_test.go
  src/cli/export/sharepoint_test.go
  src/cli/flags/sharepoint.go
  src/cli/flags/testdata/flags.go
  src/cli/restore/sharepoint_test.go
  src/cli/utils/flags.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
  src/pkg/selectors/sharepoint.go
  src/pkg/selectors/sharepoint_test.go
Labels: sharepoint, lists

#5050 removes redundant details fields for lists
  src/cli/backup/sharepoint_test.go
  src/cli/export/sharepoint_test.go
  src/cli/flags/sharepoint.go
  src/cli/flags/testdata/flags.go
  src/cli/restore/sharepoint_test.go
  src/cli/utils/flags.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
  src/pkg/backup/details/details_test.go
  src/pkg/backup/details/sharepoint.go
  src/pkg/selectors/sharepoint.go
  src/pkg/selectors/sharepoint_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: sharepoint, lists

#5026 handles lists restore collision
  src/cli/backup/sharepoint_test.go
  src/cli/export/sharepoint_test.go
  src/cli/flags/sharepoint.go
  src/cli/flags/testdata/flags.go
  src/cli/restore/sharepoint_test.go
  src/cli/utils/flags.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/collection/site/restore.go
  src/internal/m365/collection/site/restore_test.go
  src/internal/m365/service/sharepoint/restore.go
  src/pkg/backup/details/details_test.go
  src/pkg/backup/details/sharepoint.go
  src/pkg/selectors/sharepoint.go
  src/pkg/selectors/sharepoint_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: restore, sharepoint, lists

#5043 Lists remove unused
  src/cli/backup/sharepoint_test.go
  src/cli/export/sharepoint_test.go
  src/cli/flags/sharepoint.go
  src/cli/flags/testdata/flags.go
  src/cli/restore/sharepoint_test.go
  src/cli/utils/flags.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/collection/site/restore.go
  src/internal/m365/collection/site/restore_test.go
  src/internal/m365/service/sharepoint/restore.go
  src/internal/m365/service/sharepoint/restore_test.go
  src/pkg/backup/details/details_test.go
  src/pkg/backup/details/sharepoint.go
  src/pkg/selectors/sharepoint.go
  src/pkg/selectors/sharepoint_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: sharepoint, lists

#5024 modifies list restore handler and handles lists advanced restore
  src/cli/backup/sharepoint_test.go
  src/cli/export/sharepoint_test.go
  src/cli/flags/sharepoint.go
  src/cli/flags/testdata/flags.go
  src/cli/restore/sharepoint_test.go
  src/cli/utils/flags.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
  src/internal/m365/collection/site/handlers.go
  src/internal/m365/collection/site/lists_handler.go
  src/internal/m365/collection/site/mock/list.go
  src/internal/m365/collection/site/restore.go
  src/internal/m365/collection/site/restore_test.go
  src/internal/m365/service/sharepoint/restore.go
  src/internal/m365/service/sharepoint/restore_test.go
  src/pkg/backup/details/details_test.go
  src/pkg/backup/details/sharepoint.go
  src/pkg/selectors/sharepoint.go
  src/pkg/selectors/sharepoint_test.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: sharepoint, lists

#5031 adds local sanity tests for lists
  src/cmd/sanity_test/common/common.go
  src/cmd/sanity_test/common/filepath.go
  src/cmd/sanity_test/export/sharepoint.go
  src/cmd/sanity_test/restore/sharepoint.go
Labels: mergequeue, sharepoint, lists

#4980 use the tree-based drive backup by standard
  src/cli/backup/onedrive.go
  src/cli/flags/onedrive.go
  src/cli/utils/options.go
  src/internal/m365/backup_test.go
  src/internal/m365/collection/drive/collections.go
  src/internal/m365/collection/drive/collections_test.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/limiter_test.go
  src/internal/m365/controller_test.go
  src/internal/m365/onedrive_test.go
  src/internal/operations/backup_test.go
  src/internal/operations/test/m365/backup_helper.go
  src/internal/operations/test/m365/driveish.go
  src/internal/operations/test/m365/groups/groups_test.go
  src/internal/operations/test/m365/onedrive/onedrive_test.go
  src/internal/operations/test/m365/sharepoint/sharepoint_test.go
  src/internal/tester/tconfig/config.go
  src/pkg/control/backup.go
  src/pkg/control/options.go
Labels: mergequeue, backup, onedrive, cli

#5091 Create helper function to go from service type to metadata service type
  src/pkg/path/builder.go
  src/pkg/path/service_category_test.go
  src/pkg/path/service_type.go
Labels: mergequeue

#5092 Create a helper to go from a reason to a reason with the metadata service of the original reason
  src/pkg/backup/identity/identity.go
Labels: mergequeue

#5093 Use more unique data in the kopia SourceInfo for snapshots
  src/.golangci.yml
  src/internal/kopia/conn_test.go
  src/internal/kopia/wrapper.go
  src/internal/kopia/wrapper_test.go
  src/internal/operations/backup.go
  src/internal/streamstore/collectables_test.go
  src/internal/streamstore/mock/mock.go
  src/internal/streamstore/streamstore.go
  src/pkg/path/service_category_test.go
  src/pkg/path/service_type.go
  src/pkg/repository/repository_unexported_test.go
Labels: bug, mergequeue, kopia

#5096 Store parent post content
  src/internal/m365/collection/groups/conversation_handler.go
  src/pkg/services/m365/api/conversations.go
  src/pkg/services/m365/api/conversations_test.go
Labels: mergequeue, backup, teams & groups

#5048 enables sharepoint lists backup and export
  src/cli/backup/sharepoint_test.go
  src/cli/export/sharepoint.go
  src/cli/flags/sharepoint.go
  src/cli/restore/sharepoint.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
Labels: mergequeue, sharepoint, lists

#5066 Skip base finding steps if we don't need bases
  src/internal/kopia/backup_bases.go
  src/internal/operations/manifests.go
Labels: mergequeue, kopia

#5110 Skip attachments without any content for events
  src/internal/converters/eml/eml.go
  src/internal/converters/ics/ics.go
Labels: mergequeue, export

#5097 Fixing handling of permissions for external users
  CHANGELOG.md
  src/internal/m365/collection/drive/metadata/metadata.go
  src/internal/m365/collection/drive/metadata/permissions.go
  src/internal/m365/collection/drive/metadata/permissions_test.go
  src/internal/m365/collection/drive/permission.go
  src/internal/m365/helper_test.go
  src/internal/m365/onedrive_test.go
  src/internal/m365/service/onedrive/stub/stub.go
  website/docs/support/known-issues.md
Labels: mergequeue

#5023 show data category in backup list
  CHANGELOG.md
  src/pkg/backup/backup.go
  src/pkg/backup/backup_test.go
Labels: enhancement, mergequeue, backup, cli

#5086 Configure new corso repos with 8 hr minEpochDuration
  CHANGELOG.md
  src/internal/kopia/conn.go
  src/internal/kopia/conn_test.go
Labels: mergequeue, perf, scalability, kopia

#5090 Add a pin to kopia snapshots so they won't be GCed by kopia accidentally
  src/internal/kopia/wrapper.go
  src/internal/kopia/wrapper_test.go
Labels: bug, mergequeue, kopia

#5037 adds CI sanity test steps to github workflow
  .github/actions/backup-restore-test/action.yml
  .github/workflows/sanity-test.yaml
Labels: mergequeue, sharepoint, lists

#5075 add teams chats selectors boilerplate
  src/pkg/backup/details/teamsChats.go
  src/pkg/backup/details/teamsChats_test.go
  src/pkg/path/service_type.go
  src/pkg/selectors/exchange.go
  src/pkg/selectors/exchange_test.go
  src/pkg/selectors/selectors.go
  src/pkg/selectors/teamsChats.go
  src/pkg/selectors/teamsChats_test.go
Labels: chats

#5067 add chats boilerplate to details
  src/pkg/backup/details/exchange.go
  src/pkg/backup/details/groups.go
  src/pkg/backup/details/iteminfo.go
  src/pkg/backup/details/iteminfo_test.go
  src/pkg/backup/details/teamsChats.go
  src/pkg/backup/details/teamsChats_test.go
  src/pkg/path/service_type.go
  src/pkg/selectors/exchange.go
  src/pkg/selectors/exchange_test.go
  src/pkg/selectors/selectors.go
  src/pkg/selectors/teamsChats.go
  src/pkg/selectors/teamsChats_test.go
Labels: chats

#5120 fix up the backup failure output message
  src/cli/backup/backup.go
Labels: mergequeue, cli

#5117 Code and tests to validate retention config
  src/internal/kopia/retention/opts.go
  src/internal/kopia/retention/opts_test.go
Labels: mergequeue, kopia, maintenance

#5134 Centralize metadata suffix definitions
  src/internal/kopia/wrapper_test.go
  src/internal/m365/collection/drive/collection.go
  src/internal/m365/collection/drive/collection_test.go
  src/internal/m365/collection/drive/collections.go
  src/internal/m365/collection/drive/delta_tree.go
  src/internal/m365/collection/drive/export.go
  src/internal/m365/collection/drive/export_test.go
  src/internal/m365/collection/drive/helper_test.go
  src/internal/m365/collection/drive/permission.go
  src/internal/m365/collection/drive/restore.go
  src/internal/m365/helper_test.go
  src/internal/m365/service/onedrive/stub/stub.go
  src/internal/m365/stub/stub.go
  src/pkg/backup/details/details.go
  src/pkg/backup/details/details_test.go
  src/pkg/repository/backups.go
  src/pkg/services/m365/api/graph/metadata/consts.go
  src/pkg/services/m365/api/graph/metadata/metadata.go
  src/pkg/services/m365/api/graph/metadata/metadata_test.go
Labels: mergequeue, tech-debt

#5131 flush progress bars before all print calls
  src/cli/print/print.go
Labels: bug, mergequeue, cli

#5132 Pull in latest version of clues
  src/go.mod
  src/go.sum
Labels: bug, mergequeue

#5118 Validate kopia config
  src/internal/kopia/conn.go
  src/internal/kopia/conn_test.go
Labels: mergequeue, supportability, kopia, maintenance

#5122 Use fault bus and alerts instead of error for config verify
  src/internal/kopia/conn.go
  src/internal/kopia/conn_test.go
Labels: mergequeue, kopia, maintenance

#5107 Fix event cancellation status in export
  src/internal/converters/ics/ics.go
  src/internal/converters/ics/ics_test.go
Labels: mergequeue

#5123 Call config verify command during maintenance
  src/internal/kopia/conn.go
  src/internal/kopia/wrapper.go
  src/internal/kopia/wrapper_test.go
  src/internal/operations/maintenance.go
Labels: mergequeue, supportability, kopia, maintenance

#5076 add boilerplate chats api calls
  src/pkg/services/m365/api/teamdChats_test.go
  src/pkg/services/m365/api/teamsChats.go
  src/pkg/services/m365/api/teamsChats_pager.go
  src/pkg/services/m365/api/teamsChats_pager_test.go
Labels: enhancement, chats

#5115 Test closing repo without connect works
  src/pkg/repository/repository_test.go
Labels: mergequeue, tests

#5144 CI to catch incorrect use of clues
  .github/workflows/ci.yml
  src/internal/converters/vcf/vcf.go
Labels: mergequeue

#5156 Use type switch instead of strings of types
  src/internal/m365/collection/exchange/transform.go
Labels: mergequeue, refactor

#5109 provisions to identify fields with multiple value
  src/pkg/services/m365/api/consts.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#5065 add chats service and category to paths
  src/pkg/backup/details/exchange.go
  src/pkg/backup/details/groups.go
  src/pkg/backup/details/iteminfo.go
  src/pkg/backup/details/iteminfo_test.go
  src/pkg/backup/details/teamsChats.go
  src/pkg/backup/details/teamsChats_test.go
  src/pkg/path/category_type.go
  src/pkg/path/category_type_test.go
  src/pkg/path/categorytype_string.go
  src/pkg/path/service_category_test.go
  src/pkg/path/service_type.go
  src/pkg/path/servicetype_string.go
  src/pkg/selectors/exchange.go
  src/pkg/selectors/exchange_test.go
  src/pkg/selectors/selectors.go
  src/pkg/selectors/teamsChats.go
  src/pkg/selectors/teamsChats_test.go
  src/pkg/services/m365/api/teamdChats_test.go
  src/pkg/services/m365/api/teamsChats.go
  src/pkg/services/m365/api/teamsChats_pager.go
  src/pkg/services/m365/api/teamsChats_pager_test.go
Labels: mergequeue, chats

#5157 Upgrade Docusaurus to 3.1.1
  website/package-lock.json
  website/package.json
Labels: mergequeue

#5104 fixes for running backup chats from the cli
  src/internal/m365/collection/teamsChats/backup.go
  src/internal/m365/collection/teamsChats/chat_handler.go
  src/internal/m365/collection/teamsChats/collection.go
  src/internal/m365/collection/teamsChats/collection_test.go
  src/internal/m365/controller.go
  src/internal/m365/service/teamschats/enabled.go
  src/internal/m365/service/teamschats/enabled_test.go
  src/pkg/path/service_category_test.go
  src/pkg/selectors/selectors.go
Labels: bug, backup, chats

#5103 adds boilerplate cli for chats backup
  src/cli/backup/backup.go
  src/cli/backup/groups.go
  src/cli/backup/teamschats.go
  src/cli/backup/teamschats_e2e_test.go
  src/cli/backup/teamschats_test.go
  src/cli/flags/teamschats.go
  src/cli/flags/testdata/flags.go
  src/cli/flags/testdata/teamschats.go
  src/cli/utils/teamschats.go
  src/internal/m365/collection/teamsChats/backup.go
  src/internal/m365/collection/teamsChats/chat_handler.go
  src/internal/m365/collection/teamsChats/collection.go
  src/internal/m365/collection/teamsChats/collection_test.go
  src/internal/m365/controller.go
  src/internal/m365/service/teamschats/enabled.go
  src/internal/m365/service/teamschats/enabled_test.go
  src/pkg/path/service_category_test.go
  src/pkg/selectors/selectors.go
Labels: backup, cli, chats

#5163 Skip ms auth checks for gock client
  src/pkg/services/m365/api/graph/service_mock.go
Labels: mergequeue, tests, supportability, graph api

#5111 handles multiple persons list items
  src/pkg/services/m365/api/consts.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#5112 handles multiple lookup field values
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#5121 handles single & multiple values for metadata columns
  src/pkg/services/m365/api/consts.go
  src/pkg/services/m365/api/lists.go
  src/pkg/services/m365/api/lists_test.go
Labels: mergequeue, sharepoint, lists

#5158 enables lists restore
  .github/workflows/sanity-test.yaml
  src/cli/flags/sharepoint.go
  src/cli/restore/sharepoint.go
  src/cli/utils/sharepoint.go
Labels: mergequeue, sharepoint, lists

#5165 makes backup of lists explicit and not by default
  src/cli/backup/sharepoint.go
  src/cli/utils/sharepoint.go
  src/cli/utils/sharepoint_test.go
Labels: mergequeue, sharepoint, lists

#5099 adds documentation for sharepoint lists
  src/cli/backup/sharepoint.go
  src/cli/export/sharepoint.go
  src/cli/restore/sharepoint.go
  website/blog/images/Hyperlink-Column.png
  website/blog/images/Location-Column.png
  website/blog/images/Restored-Hyperlink-Column.png
  website/blog/images/Restored-Location-Column.png
  website/docs/support/bugs-and-features.md
  website/docs/support/known-issues.md
Labels: mergequeue, sharepoint, lists

#5164 Remove hidden CLI flag to ignore repo exists errors
  CHANGELOG.md
  src/cli/flags/filesystem.go
  src/cli/flags/repo.go
  src/cli/flags/s3.go
  src/cli/repo/filesystem.go
  src/cli/repo/s3.go
  src/cli/utils/flags_test.go
Labels: cli

#5060 Update repo init for partial init case
  CHANGELOG.md
  src/cli/flags/filesystem.go
  src/cli/flags/repo.go
  src/cli/flags/s3.go
  src/cli/repo/filesystem.go
  src/cli/repo/s3.go
  src/cli/utils/flags_test.go
  src/internal/kopia/conn.go
  src/internal/kopia/conn_test.go
Labels: mergequeue, kopia

#5087 boilerplate teamschat collection package
  src/cli/backup/backup.go
  src/cli/backup/groups.go
  src/cli/backup/teamschats.go
  src/cli/backup/teamschats_e2e_test.go
  src/cli/backup/teamschats_test.go
  src/cli/flags/teamschats.go
  src/cli/flags/testdata/flags.go
  src/cli/flags/testdata/teamschats.go
  src/cli/utils/teamschats.go
  src/internal/m365/backup.go
  src/internal/m365/backup_test.go
  src/internal/m365/collection/teamschats/backup.go
  src/internal/m365/collection/teamschats/backup_test.go
  src/internal/m365/collection/teamschats/chat_handler.go
  src/internal/m365/collection/teamschats/collection.go
  src/internal/m365/collection/teamschats/collection_test.go
  src/internal/m365/collection/teamschats/debug.go
  src/internal/m365/collection/teamschats/handlers.go
  src/internal/m365/collection/teamschats/testdata/chats.go
  src/internal/m365/controller.go
  src/internal/m365/debug.go
  src/internal/m365/service/exchange/backup.go
  src/internal/m365/service/groups/backup.go
  src/internal/m365/service/onedrive/backup.go
  src/internal/m365/service/sharepoint/backup.go
  src/internal/m365/service/teamschats/backup.go
  src/internal/m365/service/teamschats/enabled.go
  src/internal/m365/service/teamschats/enabled_test.go
  src/internal/m365/service/teamschats/mock/mock.go
  src/pkg/count/keys.go
  src/pkg/path/service_category_test.go
  src/pkg/selectors/selectors.go
  src/pkg/selectors/testdata/groups.go
  src/pkg/selectors/testdata/teamschats.go
  src/pkg/services/m365/api/graph/interfaces.go
Labels: enhancement, mergequeue, backup, chats

#5152 Convert serialized posts to eml
  src/internal/converters/eml/eml.go
  src/internal/converters/eml/eml_test.go
  src/internal/m365/service/groups/mock/post-with-attachments.json
  src/internal/m365/service/groups/mock/testdata.go
  src/pkg/services/m365/api/conversations.go
  src/pkg/services/m365/api/conversations_test.go
Labels: mergequeue, export, teams & groups

#5153 Add group mailbox export
  CHANGELOG.md
  src/cli/export/groups.go
  src/internal/m365/collection/groups/export.go
  src/internal/m365/collection/groups/export_test.go
  src/internal/m365/service/groups/export.go
  src/internal/m365/service/groups/export_test.go
  src/internal/operations/pathtransformer/restore_path_transformer.go
  src/pkg/export/export.go
Labels: mergequeue, export, teams & groups
